<%- include("partials/header"); -%>

<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="mb-3">
        <label for="postTitle" class="form-label">Title</label>
        <input type="text"name="postTitle" id="postTitle" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="postBody" class="form-label">Post</label>
        <textarea name="postBody" id="postBody" cols="30" rows="5" class="form-control"></textarea>
    </div>
    <input class="btn btn-success" type="submit" value="Publish"/>
</form>

<%- include("partials/footer"); -%>